.button-main {
  box-sizing: border-box;
  min-height: 56px;
  background-color: var(--color-gray-4);
  border-radius: 500px;
  padding: 0 80px;
  color: white;
}

.button-main:hover {
  background-color: var(--color-pink);
}
