.App {
  font-family: var(--font-family);
  text-align: center;
  margin: var(--space-big);
}

.App header {
  text-align: left;
}

.App header .logo {
  width: 90px;
  height: auto;
}

@media (min-width: 550px) {
  .App {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 48px;
  }
}
