.custom-checkbox {
  --size: 24px;

  width: var(--size);
  height: var(--size);
}

/* Normal state */
.custom-checkbox input[type="checkbox"] {
  display: none;
}

.custom-checkbox .icon-checkmark {
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-2);
  border-radius: 4px;
}

/* Checked state */
.custom-checkbox .icon-checkmark.checked {
  background-color: var(--color-pink);
  background-image: url("../../assets/images/checkmark-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}
